{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'styles/episodes.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/episodes_responsive.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll"
             data-image-src="{% static 'images/about (1).jpg' %}"
             data-speed="0.8"></div>
        <div class="home_container d-flex flex-column align-items-center justify-content-center">
            <div class="home_content">
                <div class="home_title"><h1>episodes</h1></div>
            </div>
        </div>
    </div>

    <div class="episodes" id="episodes">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="season_links">
                        <ul class="d-flex flex-row align-items-start justify-content-center flex-wrap">
                            {% for f in filter %}
                                <li class="item_filter_btn" data-filter=".{{ f.filter }}">{{ f.display }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row episodes_row">

                <div class="col-lg-3">
                    <div class="sidebar">

                        <div class="sidebar_search">
                            <div class="sidebar_title">Search</div>
                            <form action="#" class="search_form" id="search_form">
                                <input type="text" class="search_input" placeholder="Search here" required="required">
                                <button class="search_button"><img src="{% static 'images/search.png' %}" alt></button>
                            </form>
                        </div>

                        <div class="sidebar_list">
                            <div class="sidebar_title">Categories</div>
                            <ul>
                                {% for object in categories %}
                                    <li><a href="#">{{ object.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="sidebar_tags">
                            <div class="sidebar_title">Tags</div>
                            <div class="tags">
                                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                                    {% for object in tags %}
                                        <li><a href="#">{{ object.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar_archive">
                            <div class="sidebar_title">Archive</div>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown_selected d-flex flex-row align-items-center justify-content-start">
                                        <span>September 2018</span><i class="fa fa-chevron-down ml-auto"
                                                                      aria-hidden="true"></i>
                                        <ul>
                                            <li><a href="#">August 2018</a></li>
                                            <li><a href="#">July 2018</a></li>
                                            <li><a href="#">June 2018</a></li>
                                            <li><a href="#">May 2018</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 episodes_col">
                    <div class="episodes_container">
                        {% for object in object_list %}
                            <div class="episode d-flex flex-row align-items-start justify-content-start {% for c in object.filter.all %}{{ c.safe_filter }}{% endfor %}">
                                <div>
                                    <div class="episode_image">
                                        <img src="{{ object.image.url }}" alt>
                                        <div class="tags">
                                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                                <li><a href="#">{{ object.category.title }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="episode_content">
                                    <div class="episode_name"><a
                                            href="{% url 'episode:detail' %}">{{ object.title }}</a></div>
                                    <div class="episode_date"><a href="#">{{ object.created_date|date:'d F, Y' }}</a>
                                    </div>
                                    <div class="show_info d-flex flex-row align-items-start justify-content-start">
                                        <div class="show_fav d-flex flex-row align-items-center justify-content-start">
                                            <div class="show_fav_icon show_info_icon"><img class="svg"
                                                                                           src="{% static 'images/heart.svg' %}"
                                                                                           alt></div>
                                            <div class="show_fav_count">{{ object.likes.count }}</div>
                                        </div>
                                        <div class="show_comments">
                                            <a href="#">
                                                <div class="d-flex flex-row align-items-center justify-content-start">
                                                    <div class="show_comments_icon show_info_icon"><img class="svg"
                                                                                                        src="{% static 'images/speech-bubble.svg' %}"
                                                                                                        alt></div>
                                                    <div class="show_comments_count">{{ object.comments.count }}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="single_player_container">
                                        <div class="single_player d-flex flex-row align-items-center justify-content-start">
                                            <div id="jplayer_1" class="jp-jplayer"></div>
                                            <div id="jp_container_1" class="jp-audio" role="application"
                                                 aria-label="media player">
                                                <div class="jp-type-single">
                                                    <div class="player_controls">
                                                        <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                                            <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-between">
                                                                <div>
                                                                    <div class="jp-controls-holder play_button ml-auto">
                                                                        <button class="jp-play" tabindex="0"></button>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <div class="jp-progress">
                                                                        <div class="jp-seek-bar">
                                                                            <div class="jp-play-bar"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-between ml-auto">
                                                                <div class="d-flex flex-row align-items-center justify-content-start">
                                                                    <button class="jp-mute" tabindex="0"></button>
                                                                </div>
                                                                <div class="d-flex flex-row align-items-center justify-content-start">
                                                                    <div class="jp-volume-bar">
                                                                        <div class="jp-volume-bar-value"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-no-solution">
                                                        <span>Update Required</span>
                                                        To play the media you will need to either update your browser to
                                                        a
                                                        recent version or update your <a
                                                            href="http://get.adobe.com/flashplayer/" target="_blank">Flash
                                                        plugin</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="row page_nav_row">
                <div class="col">
                    <div class="page_nav d-flex flex-row align-items-center justify-content-center">
                        <ul class="d-flex flex-row">
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}#episodes"><i
                                        class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                            {% endif %}
                            {% for p in page_obj.paginator.page_range %}
                                <li class="{% if p == page_obj.number %}active{% endif %}"><a
                                        href="?page={{ p }}">{{ p }}</a></li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}#episodes"><i
                                        class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"
            integrity="sha512-g0etrk7svX8WYBp+ZDIqeenmkxQSXjRDTr08ie37rVFc99iXFGxmD0/SCt3kZ6sDNmr8sR0ISHkSAc/M8rQBqg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"
            integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'js/episodes.js' %}"></script>
{% endblock %}